<a href="https://colab.research.google.com/github/satishgunjal/Machine-Learning-Using-Python/blob/master/14_Naive_Bayes/Exercise_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Statement
* Use wine dataset from sklearn.datasets to classify wines into three categories
* Load the dataset and split it into test and traion
* Train the model using Gaussian and Multinomial classifier and post the scores
* Used trained model to perform some prediction on data

## Load the data

In [0]:
import pandas as pd
from sklearn.datasets import load_wine

wine = load_wine()

In [3]:
dir(wine)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [14]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

## Understanding the data
* wine.data > Contains training data with 13 feature and 178 trainingexamples
* wine.feature_names > 13 feature names
* wine.target > wine type (classes)
* wine.target_name > wine type names

## Load the data into dataframe

In [18]:
df = pd.DataFrame(wine.data)
df.head()

      0     1     2     3      4     5   ...    7     8     9     10    11      12
0  14.23  1.71  2.43  15.6  127.0  2.80  ...  0.28  2.29  5.64  1.04  3.92  1065.0
1  13.20  1.78  2.14  11.2  100.0  2.65  ...  0.26  1.28  4.38  1.05  3.40  1050.0
2  13.16  2.36  2.67  18.6  101.0  2.80  ...  0.30  2.81  5.68  1.03  3.17  1185.0
3  14.37  1.95  2.50  16.8  113.0  3.85  ...  0.24  2.18  7.80  0.86  3.45  1480.0
4  13.24  2.59  2.87  21.0  118.0  2.80  ...  0.39  1.82  4.32  1.04  2.93   735.0

[5 rows x 13 columns]

## Lets split the data

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test =train_test_split(df,wine.target,test_size=0.2)

print("len of X_train is %s" % (len(X_train)))
print("len of X_test is %s" % (len(X_test)))
print("len of y_train is %s" % (len(y_train)))m
print("len of y_test is %s" % (len(y_test)))

len of X_train is 142
len of X_test is 36
len of y_train is 142
len of y_test is 36

## Lets train the model using Multinomial Naive Byaes Classifier

In [29]:
from sklearn.naive_bayes import MultinomialNB

model_m = MultinomialNB()
model_m.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [30]:
model_m.score(X_test,y_test)

0.8333333333333334

## Lets train the model usin g Gaussian Naive Bayes classifier

In [27]:
from sklearn.naive_bayes import GaussianNB
model_g = GaussianNB()
model_g.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [28]:
model_g.score(X_test,y_test)

0.9722222222222222

## Lets predict some wine types

In [35]:
print("input values are %s" % ( X_test[:5]))
print("Expected o/p values are %s" % (y_test[:5]))

input values are         0     1     2     3      4     5   ...    7     8     9     10    11      12
71   13.86  1.51  2.67  25.0   86.0  2.95  ...  0.21  1.87  3.38  1.36  3.16   410.0
66   13.11  1.01  1.70  15.0   78.0  2.98  ...  0.26  2.28  5.30  1.12  3.18   502.0
163  12.96  3.45  2.35  18.5  106.0  1.39  ...  0.40  0.94  5.28  0.68  1.75   675.0
13   14.75  1.73  2.39  11.4   91.0  3.10  ...  0.43  2.81  5.40  1.25  2.73  1150.0
84   11.84  0.89  2.58  18.0   94.0  2.20  ...  0.22  2.35  3.05  0.79  3.08   520.0

[5 rows x 13 columns]
Expected o/p values are [1 1 2 0 1]

In [33]:
model_g.predict(X_test[:5])

array([1, 1, 2, 0, 1])