<a href="https://colab.research.google.com/github/satishgunjal/Machine-Learning-Using-Python/blob/master/09_Decision_Tree%5CDecision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Decision Tree

*   Decision tree algorithm belongs to the family of supervised learning algorithms
*   Unlike other supervised learning algorihms decision tree can be used to solve regression and classification problems
*   The goal of decision tree is to create training model that can predict class or value by learning simple decision rules from training data
*   Decision tree algorithm forma the tree based on 'High Information Gain'. Lower the entropy higher the information gain.
*   Entropy: It isbasically a measure of randomness in your sample. So if there is no randomness your sample then then entropy is low.
*   **Problem Statement:** Predicting whether a persons salary is more 100K dollars based on his company, job title and degree he has

[Reference](https://youtu.be/PHxYNGo8NcI)

Load the dataset

In [0]:
import pandas as pd

In [0]:
# If using local Jupyter notebook
# df = pd.read_csv('salaries.csv')
# df

In [2]:
from google.colab import files

uploaded = files.upload()

Saving salaries.csv to salaries.csv

In [7]:
import io

df = pd.read_csv(io.StringIO(uploaded['salaries.csv'].decode('utf-8')))
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

## Dataset  analysis

*   'company', 'job', 'degree' are independent/input (X) variables	
*   'salary_more_then_100k' is dependent/target (y) variable
*   Since 'company', 'job', 'degree' values are in text format we have to use 'One Hot Encoding' to conver it into numeric format

In [15]:
# Creating input variable >> independent/input (X) variable
inputs = df.drop('salary_more_then_100k',axis='columns')
inputs.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [10]:
#Creating target variable >> dependent/target (y) variable
#target = df.drop(['company',	'job','degree'],axis='columns')
# OR 
# Use below code
target= df['salary_more_then_100k']
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

Now lets use sklearns LabelEncoder to covert text data from input columns to numeric

In [0]:
from sklearn.preprocessing import LabelEncoder # Importing LabelEncoder class

#Lets classifier for each column
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

Now create new label columns

In [20]:
inputs['comapny_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  comapny_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

**NOTE:** Once new label encoder column are created its important to note the mapping of label to categories for each column. Using labelencoder classifier's(e.g. le_job) 'classes_' property will give the label mapping to each category. Note its index start from 0.

In [22]:
print(le_company.classes_)
print(le_job.classes_)
print(le_degree.classes_)

['abc pharma' 'facebook' 'google']
['business manager' 'computer programmer' 'sales executive']
['bachelors' 'masters']

Now lets drop the existing columns with text data

In [25]:
inputs = inputs.drop(['company','job','degree'],axis='columns')
inputs.head()

KeyError: ignored

Now lets train the model using decision tree algorithm

In [26]:
from sklearn import tree # importing tree class
model = tree.DecisionTreeClassifier() # creating object of decision tree
model.fit(inputs,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [27]:
model.score(inputs,target)
# its going to be 1 since we are using same dataset

1.0

**Q1: Lets predict a salry of persion working in 'google', 'sales excutive' is his job and 'masters' is his degree**

To get the numbers for above text use below classes_ output from 'step 22'

['abc pharma' 'facebook' 'google']

['business manager' 'computer programmer' 'sales executive']

['bachelors' 'masters']

In [29]:
model.predict([[2,2,1]])

array([0])

0 means salry wont be more than 100k. You can crosscheck the answer with dataset